<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Test-only mutable source; production code must snapshot it exactly once. -->
        <provider
            android:name="com.adroited.aiterm.ui.MutableImageTestProvider"
            android:authorities="com.adroited.aiterm.test.mutable-image"
            android:exported="true" />
    </application>
</manifest>
